* {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Banner Section */
.banner-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 850px;
    background-color: #e5547310;
    padding: 0 10%;
}

.banner-text{
    width: 500px;
    padding: 30px 100px;
}

.title {
    font-size: 56px;
    font-weight: bold;
    color: #272727;
    padding: 20px 0;
}

.description{
    font-size: 14px;
    color: #27272760;
    padding: 20px 0;
    line-height: 1.5rem;
}

.btn {
    background-color: #E55473;
    color: #FFFFFF;
    border: 1px solid #E55473;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 20px;
}

.banner-image{
    width: 635px;
    height: 800px;
    padding: 20px 20px 0px 20px;
    margin-top: auto;
}

/* Featured Section */
.featured-container{
    display: block;
    height: 1200px;
    padding: 100px 50px 50px 50px;
}

.featured-text{
    display: block;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.featured-title{
    font-size: 38px;
    padding-bottom: 0px;
}

.featured-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 75vw;
    margin: 0 auto;
}

.box{
    display: block;
    width: 400px;
    height: 450px;
    color: #272727;
    text-align: center;
    padding: 30px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.box-1 {
    background-color: #a6216115;
}

.box-2 {
    background-color: #0597A015;
}

.box-3 {
    background-color: #477D1115;

}

.box-image {
    width: 100%;
    margin: 50px auto;
}

.box-2 .box-image{
    margin-top: 105px;
    margin-bottom: 50px;
}

.box-3 .box-image{
    margin-top: 10px;
    margin-bottom: 50px;
}

.box-title {
    font-size: 24px;
    font-weight: bold;
}

.box-title a{
    color: #272727;
} 

.box-title a:hover{
    color: #E55473;
}

.featured-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    background-color: #27272708;
    margin: 120px auto;
    gap: 150px;
}

.icon-div {

}

/* Hot Deal Section  */
.hotdeal-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 620px;
    background-color: #e5547310;
    padding: 0 10%;
}

.text-red{
    color: #E55473;
}

.hotdeal-text{
    display: block;
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

/* Instagram Section */
.instagram-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 75vw;
    margin: 0 auto;
}

.instagram-text{
    margin-top: 70px;
}